{include file="admin/root/common/header"}
<div id="right_content">
    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <td width="150"></td>
                <td></td>
            </tr>
            <tr>
                <th width="150" class="msg">主键</th>
                <td><input name="uid" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">账号</th>
                <td><input name="phone" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">密码</th>
                <td><input name="password" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">昵称</th>
                <td><input name="nickname" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">邮箱</th>
                <td><input name="email" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">头像</th>
                <td><input name="face" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>
            <tr>
                <th width="150" class="msg">注册时间</th>
                <td><input name="add_time" type="text" class="form-control w400" datatype="/^.*?$/"></td>
            </tr>

            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">Save Change</button></td>
            </tr>
        </table>
    </form>
</div>

<script>
$(function(){
    
})
</script>
{include file="admin/root/common/footer"}