{include file="admin/root/common/header"}
<div id="right_content">
    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <td width="150"></td>
                <td></td>
            </tr>
            {neq name="$enterprise_id" value="0"}
            <tr>
                <th class="msg">分类</th>
                <td>
                    <select name="type_id" class="form-control w426" datatype="n">
                        {foreach $checkVal['type'] as $v}
                        <option value="{$v.id}">{$v.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            {else /}
            <tr>
                <th class="msg">平台分类</th>
                <td>
                    <select name="classify_id" class="form-control w426" datatype="n">
                        {foreach $checkVal['classify'] as $v}
                        <option value="{$v.id}">{$v.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            {/neq}
            <tr>
                <th width="150" class="msg">课程名称</th>
                <td><input name="title" type="text" class="form-control w400" datatype="*"></td>
            </tr>
            <tr>
                <th class='msg'>图片</th>
                <td>
                    <div id="photo-picker">上传图片</div>
                    <div id="photo-list" class="uploader-list">
                        <div class="upload-ts">
                            <input type="hidden" name="photo" value="" datatype="*" nullmsg="请上传图片">
                            <span class="Validform_checktip"></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="start">
                <th class='msg'>开始时间</th>
                <td>
                    <input type="text" id="time-start" name="start" class="date-plugin form-control w200" value="" placeholder="选择日期" datatype="/^.*?$/" autocomplete="off">
                </td>
            </tr>
            <tr>
                <th class="msg">描述</th>
                <td><textarea name="describe" datatype="/^.*?$/"></textarea></td>
            </tr>
            <tr>
                <th width="150" class="msg">单价</th>
                <td><input name="price" type="text" class="form-control w400" datatype="/^(\d{1,8}|\d{1,8}\.\d{1,2})$/" nullmsg="请填写单价！(0 为免费"></td>
            </tr>
            <tr id="words">
                <th class='msg'>文档地址</th>
                <td>
                    <div id="words-picker">上传PDF文档</div>
                    <div id="words-list" class="uploader-list">
                        <div class="upload-ts">
                            <input type="hidden" name="words" value="" datatype="/^.*?$/" nullmsg="请上传PDF文档">
                            <span class="Validform_checktip"></span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">保存</button></td>
            </tr>
        </table>
    </form>
</div>
{include file="admin/root/common/webuploader"}
{include file="admin/root/common/dateplugin"}
<script>
    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:'zh-CN',
        minView:0,
        autoclose:true,
        minuteStep:1
    });
$(function(){


    file_upload({
    pick        : '#photo-picker',
    container   : '#photo-list',
    server      : '{:url("teacher/root/upload/AliyunOss")}',
    mulit       : false,
    inputname   : 'photo'
});


    file_upload({
        pick        : '#words-picker',
        container   : '#words-list',
        server      : '{:url("teacher/root/upload/AliyunOss")}',
        mulit       : false,
        inputname   : 'words',
        accept: {
            title: 'words',
            extensions: 'pdf',
            mimeTypes: 'application/pdf'
        },
        callback:function(ret){
            $('#words-list').removeClass('uploader-list_video');
            $('#words-list').addClass='ploader-list';
            var info = '<div class="upimg-box">\
                                <span class="glyphicon glyphicon-remove-sign remove-img"></span>\
                                <input type="hidden" name="words" value="'+ret.data.path+'">\
                                <input type="hidden" name="words_name" value="'+ret.data.name+'">\
                                <span style="margin-right: 15%;"><a href='+ret.data.path+' target="_blank">'+ret.data.name+'</a></span>\
                            </div>';
            $('#words-list').html(info);
        }

    });



})

</script>
{include file="admin/root/common/footer"}