{include file="admin/root/common/header"}
<div id="right_content">
    <div class="top-info">
        <i class="glyphicon glyphicon-home"></i>
        视频管理
    </div>

    <!-- 菜单 -->
    <ul class="clearfix menu">
        <li><a href="{:url('',['type'=>1])}" {if($type==1)}class="this"{/if}>数据列表</a></li>
        <li><a href="{:url('',['type'=>2])}" {if($type==2)}class="this"{/if}>直播审核</a></li>
        <li>
            <a
                href="{:url('add')}" target="frame_dispose"
                onclick="open_frame('添加', 100, 100, true);">
                添加数据
            </a>
        </li>

    </ul>

    <div class="table-box">
        <div class="table-header clearfix">
            <div class="all-operation fl clearfix">
                {if($type==1)}
                <button type="button" class="btn btn-danger btn-sm"
                onclick="all_operation('{:url('del')}','id[]',{'type':{$type}});">
                    删除<i class="glyphicon glyphicon-trash ml5"></i>
                </button>
                {else}
                <button type="button" class="btn btn-danger btn-sm"
                        onclick="all_operation('{:url('del')}','id[]',{'type':{$type}});">
                    审核<i class="glyphicon glyphicon-ok ml5"></i>
                </button>
                {/if}
            </div>
            <form action="" method="get" class="clearfix fr">
                <input type="text" value="{$keywords}" name="keywords" class="form-control search-in" placeholder="课程名称">
                <input type="hidden" value="{$type}" name="type" >
                <button onclick="loding();" type="submit" class="btn btn-info btn-sm fl">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div>

        <table class="table">
            <tr>
                <th width="20">
                    <input onclick="check_all('id[]');" name="check_all" type="checkbox" value="">
                </th>
                <th>ID</th>
                {neq name="$checkVal['enterprise_id']" value="0"}
                <th>分类</th>
                {else /}
                <th>平台分类</th>
                {/neq}
                <th>讲师</th>
                <th>课程名称</th>
                <th>图片</th>
                <th>类型</th>
                <th>阅读量</th>
                <th>单价</th>
                <th>权重</th>
                <th>学习量</th>
                <th>评论数量</th>
                <th>创建时间</th>

                <th width="100">操作</th>
            </tr>
            {if (!empty($data))}
            {foreach $data AS $v}
                <tr>
                    <td>
                        <input name="id[]" type="checkbox" value="{$v.id}">
                    </td>
                    <td>{$v.id}</td>
                    {neq name="$checkVal['enterprise_id']" value="0"}
                    <td>
                        {if (!empty($checkVal['type_idVal'][$v['type_id']]))}
                            {$checkVal['type_idVal'][$v['type_id']]}
                        {/if}
                    </td>
                    {else /}
                    <td>
                        {if (!empty($checkVal['classify_idVal'][$v['classify_id']]))}
                            {$checkVal['classify_idVal'][$v['classify_id']]}
                        {/if}
                    </td>
                    {/neq}
                    <td>
                        {$v.name}
                    </td>
                    <td>{$v.title}</td>
                    <td><img src='{$v.photo}' style='max-width:100px;'></td>
                    <td>
                        {if (!empty($checkVal['typeVal'][$v['type']]))}
                            {$checkVal['typeVal'][$v['type']]}
                        {/if}
                        {if($v['type']==3 && $v['is_recommend']==1)}
                        <span class="label label-success f12">推荐</span>
                        {/if}

                    </td>
                    <td>{$v.reading}</td>
                    <td>{$v.price}</td>
                    <td>{$v.weight}</td>
                    <td>{$v.look_num}</td>
                    <td>{$v.comment_num}</td>
                    <td>{$v.created_at ? date('Y-m-d H:i:s', $v.created_at) : '----'}</td>

                    <td class="operation">
                        <a href="{:url('edit',['id'=>$v['id']])}" target="frame_dispose"
                        onclick="open_frame('修改数据', 100, 100, true)"
                        class="glyphicon glyphicon-edit" title="编辑"></a>
                        {if($type==1)}
                        <a class="glyphicon glyphicon-trash"
                        onclick="ajax_post('{:url('del')}',{'id':{$v['id']},'type':{$type}});" title="删除"></a>
                        {else}
                        <a class="glyphicon glyphicon-ok"
                           onclick="ajax_post('{:url('del')}',{'id':{$v['id']},'type':{$type}});" title="审核"></a>
                        {/if}
                    </td>
                </tr>
            {/foreach}
            {/if}
        </table>
        <div>{$page}</div>
    </div>
</div>

<script type="text/javascript">

</script>
{include file="admin/root/common/footer"}