{include file="common/header"}
<div id="right_content">
    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <th width="150" class="msg">名称</th>
                <td><input type="text" name="name" class="form-control w300" datatype="*"></td>
            </tr>
            <tr>
                <th width="150" class="msg">图标</th>
                <td><input type="text" name="icon" class="form-control w300" datatype="*"></td>
            </tr>

            <tr>
                <th width="150" class="msg">模块</th>
                <td><input type="text" name="module" class="form-control w300" datatype="*"></td>
            </tr>

            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">Save Change</button></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">

</script>
{include file="common/footer"}