{include file="common/header"}
<div id="right_content">
    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <th width="150" class="msg">名称</th>
                <td><input type="text" class="form-control w400" name="name" value="{$old.name}" datatype="*"></td>
            </tr>

            <tr>
                <th width="150" class="msg">图标</th>
                <td><input type="text" class="form-control w400" name="icon" value="{$old.icon}" datatype="*"></td>
            </tr>

            <tr>
                <th width="150" class="msg">模块</th>
                <td><input type="text" class="form-control w400" name="module" value="{$old.module}" datatype="*"></td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="id" value="{$id}">
                </td>
                <td><button type="submit" class="btn btn-success">Save Change</button></td>
            </tr>
        </table>
    </form>
</div>

{include file="common/footer"}