{include file="admin/root/common/header"}
<div id="right_content">
    <div class="top-info">
        <i class="glyphicon glyphicon-home"></i>
        讨论组管理
    </div>
    <!-- 菜单 -->
    <ul class="clearfix menu">
        <li><a href="{:url('discuss',['id'=>$id])}" class="this">数据列表</a></li>
        <li><a href="{:url('add_qun',['id'=>$id])}">添加讨论组</a></li>
    </ul>
    <!-- 菜单 -->
    <div class="table-box">
        <div class="table-header clearfix">
            <div class="all-operation fl clearfix">
            </div>
            <form action="" method="get" class="clearfix fr">
                <input type="text" value="{$keywords}" name="keywords" class="form-control search-in" placeholder="组名称">
                <button onclick="loding();" type="submit" class="btn btn-info btn-sm fl">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </form>
        </div>
        <table class="table">
            <tr>
                <th width="20">序号</th>
                <th width="200">组名称</th>
                <th width="100">创建时间</th>
                <th width="100">操作</th>
            </tr>
            <!-- </table>-->
            {if (!empty($data))}
            {foreach $data AS $k=>$v}
            <tr>
                <td width="20">{$k+1}</td>
                <td width="200">{$v.name}</td>
                <td width="100" class="operation">
                    {:date('Y-m-d H:i:s', $v.created_at)}
                </td>
                <td>
                    <a href="{:url('discussedit',['id'=>$v['id']])}" target="frame_dispose"
                       onclick="open_frame('讨论组编辑', 100, 100, true)"
                       class="glyphicon glyphicon-edit" title="讨论组编辑"></a>
                    <a href="{:url('discussuser',['id'=>$v['id']])}" target="frame_dispose"
                       onclick="open_frame('讨论组成员', 100, 100, true)"
                       class="glyphicon glyphicon-user" title="讨论组成员"></a>
                    <a class="glyphicon glyphicon-trash"
                    onclick="ajax_post('{:url('discussdel')}',{'id':{$v['id']}});" title="讨论组删除"></a>
                </td>
            </tr>
            {/foreach}
            {else}
            <tr>
                <td align="center" colspan="20">暂无数据！</td>
            </tr>
            {/if}
        </table>
    </div>
</div>

<script type="text/javascript">
</script>
{include file="admin/root/common/footer"}