{include file="admin/root/common/header"}
<div id="right_content">
    <!-- 菜单 -->
    <div class="table-box">
        <div class="table-header clearfix">
            <div class="all-operation fl clearfix">
                <button type="button" class="btn btn-success btn-sm"
                        onclick="all_export('{:url('')}',{$id});">
                    导出<i class="glyphicon glyphicon-cloud-download ml5"></i>
                </button>
            </div>
            <form action="" method="get" class="clearfix fr">
             
                    <input type="text" id="time-start" name="start" class="form-control search-in" value="{$start}" placeholder="开始时间" datatype="">
                    <input type="text" id="time-end" name="end" class="form-control search-in" value="{$end}" placeholder="结束时间" datatype="">
                <input type="text" value="{$keywords}" name="keywords" class="form-control search-in" placeholder="昵称">
                <button onclick="loding();" type="submit" class="btn btn-info btn-sm fl">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div>
        <table class="table">
            <tr>
                <th width="20">序号</th>
                <th width="200">姓名</th>
                <th width="200">职称</th>
                <th width="200">电话</th>
                <th width="100">签到时间</th>
                <!-- <th width="100">操作</th> -->
            </tr>
            <!-- </table>-->
            {if (!empty($data))}
            {foreach $data AS $k=>$v}
            <tr>
                <td width="20">{$k+1}</td>
                <td width="200">{$v.name}</td>
                <td width="200">{$v.unit_title}</td>
                <td width="200">{$v.tel}</td>
                <td width="100" class="operation">
                    {:date('Y-m-d H:i:s', $v.created_at)}
                </td>
                <!-- <td>
                <a href="{:url('info/user/sign',['uid'=>$v['uid'],'qun_id'=>$v['qun_id']])}" target="frame_dispose"
                           onclick="open_frame('签到记录', 100, 100, true)"
                           class="glyphicon glyphicon-list-alt" title="签到记录"></a>
                        <a href="{:url('info/user/achievement',['uid'=>$v['uid']])}" target="frame_dispose"
                           onclick="open_frame('学员成绩', 100, 100, true)"
                           class="glyphicon glyphicon-list-alt" title="学员成绩"></a>
                        <a href="{:url('info/user/studyrecord',['uid'=>$v['uid']])}" target="frame_dispose"
                           onclick="open_frame('学习记录', 100, 100, true)"
                           class="glyphicon glyphicon-list-alt" title="学习记录"></a>
                        <a href="{:url('info/user/progress',['uid'=>$v['uid']])}" target="frame_dispose"
                           onclick="open_frame('学习进度', 100, 100, true)"
                           class="glyphicon glyphicon-list-alt" title="学习进度"></a>
                        <a href="{:url('info/user/consume',['uid'=>$v['uid']])}" target="frame_dispose"
                           onclick="open_frame('消费记录', 100, 100, true)"
                           class="glyphicon glyphicon-usd" title="消费记录"></a>
                        
                           <a class="glyphicon glyphicon-trash"
                           onclick="ajax_post('{:url('stop')}',{'uid':{$v['uid']},'qun_id':{$v['qun_id']}});" title="禁言"></a>
                           <a class="glyphicon glyphicon-trash"
                           onclick="ajax_post('{:url('getstop')}',{'uid':{$v['uid']},'qun_id':{$v['qun_id']}});" title="解除禁言"></a>
                           <a class="glyphicon glyphicon-trash"
                           onclick="ajax_post('{:url('delgou')}',{'uid':{$v['uid']},'qun_id':{$v['qun_id']}});" title="踢出群组"></a>
                       </td> -->
            </tr>
            {/foreach}
            {else}
            <tr>
                <td align="center" colspan="20">暂无数据！</td>
            </tr>
            {/if}
        </table>
    </div>
</div>
{include file="teacher/root/common/webuploader"}
{include file="teacher/root/common/ueditor"}
{include file="teacher/root/common/dateplugin"}
<script type="text/javascript">
  $('#time-start').datetimepicker({
    format: 'yyyy-mm-dd',
    language:'zh-CN',
    minView:2,
    autoclose:true
});

$('#time-end').datetimepicker({
    format: 'yyyy-mm-dd',
    language:'zh-CN',
    minView:2,
    autoclose:true
});
  function all_export(url,id, fn) {
      // 组合批量操作的ID
      location.href=url+"?exl=exl&id="+id;
  }
</script>
{include file="admin/root/common/footer"}