{include file="admin/root/common/header"}
<div id="right_content">
    <div class="top-info">
        <i class="glyphicon glyphicon-home"></i>
        提现管理
    </div>

    <!-- 菜单 -->
    <ul class="clearfix menu">
        <li><a href="#" class="this">数据列表</a></li>
        <li>
            <a
                href="{:url('add_teacher_pay')}" target="frame_dispose"
                onclick="open_frame('添加', 100, 100, true);">
                申请提现
            </a>
        </li>

    </ul>

    <div class="table-box">
        <div class="table-header clearfix">
            <!-- <div class="all-operation fl clearfix">
                <button type="button" class="btn btn-danger btn-sm"
                onclick="all_operation('{:url('del_user_quiz')}','id[]');">
                    删除<i class="glyphicon glyphicon-trash ml5"></i>
                </button>
            </div> -->
            <!-- <form action="" method="get" class="clearfix fr">
                <input type="text" value="{$keywords}" name="keywords" class="form-control search-in" placeholder="标题">
                <button onclick="loding();" type="submit" class="btn btn-info btn-sm fl">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form> -->
        </div>

        <table class="table">
            <tr>
               <!--  <th width="20">
                    <input onclick="check_all('id[]');" name="check_all" type="checkbox" value="">
                </th> -->
                <th>ID</th>
                <th>提现金额</th>
                <th>手续费</th>
                <th>收款方式</th>
                <th>状态</th>
                <th>申请时间</th>
                <th>处理时间</th>

                <!-- <th width="100">操作</th> -->
            </tr>
            {if (!empty($data))}
            {foreach $data AS $v}
                <tr>
                    <!-- <td>
                        <input name="id[]" type="checkbox" value="{$v.id}">
                    </td> -->
                    <td>{$v.id}</td>
                    <td>{$v.account}元</td>
                    <td>{$v.brokerage}元</td>
                    <td><?php if($v['pay_type'] == 1){echo '微信';}else{echo '支付宝';} ?></td>
                    <td><?php if($v['status'] == 1){echo '未处理';}else{echo '已处理';} ?></td>
                    <td>{$v.created_at ? date('Y-m-d', $v.created_at) : '----'}</td>
                    <td>{$v.updated_at ? date('Y-m-d', $v.updated_at) : '----'}</td>
                </tr>
            {/foreach}
            {/if}
        </table>
        <div>{$page}</div>
    </div>
</div>

<script type="text/javascript">

</script>
{include file="admin/root/common/footer"}