{include file="admin/root/common/header"}
<div id="right_content">
    <div class="top-info">
        <i class="glyphicon glyphicon-home"></i>
        企业充值
    </div>

    <!-- 菜单 -->
    <ul class="clearfix menu">
        {if($enterprise_id==0)}
        <li><a href="{:url('user')}" class="this">企业充值</a></li>
        {/if}
        <li><a href="{:url('index')}" >学员充值</a></li>
    </ul>

    <div class="table-box">

    </div>

    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <td width="150"></td>
                <td></td>
            </tr>
            <tr>
                <th width="150" class="msg">企业名称</th>
                <td>
                    <select name="enterprise" id="enterprise" class="form-control w426" datatype="n">
                        {foreach $enterprise as $v}
                        <option value="{$v.id}">{$v.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <th width="150" class="msg">学员人数上限</th>
                <td><input name="student" id="student" type="text" class="form-control w400" datatype="n"></td>
            </tr>
            <tr>
                <th class='msg'>到期时间</th>
                <td>
                    <input type="text" id="time-expire" name="expire" class="date-plugin form-control w200" value="" placeholder="选择日期" datatype="*" autocomplete="off">
                </td>
            </tr>
            <!--<tr>-->
                <!--<th width="150" class="msg">充值金额</th>-->
                <!--<td><input name="price" type="text" class="form-control w400" datatype="/^(\d{1,8}|\d{1,8}\.\d{1,2})$/" nullmsg="请填写充值金额！"></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th class="msg">充值方式</th>-->
                <!--<td>-->
                    <!--<label class="checkbox-inline">-->
                        <!--<input type="radio" name="type" value="1"> 支付宝-->
                    <!--</label>-->
                    <!--<label class="checkbox-inline">-->
                        <!--<input type="radio" name="type" value="2"> 微信-->
                    <!--</label>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-success" onclick="ajax_post('{:url()}');">充值</button></td>
            </tr>
        </table>
    </form>
    <div id="pay"></div>
</div>
{include file="admin/root/common/webuploader"}
{include file="admin/root/common/dateplugin"}
<script type="text/javascript">
    $(function(){
        $('#time-expire').datetimepicker({
            format: 'yyyy-mm-dd',
            language:'zh-CN',
            minView:2,
            autoclose:true
        });
        $("#enterprise").change(function () {
            userlist();
        });
        userlist();
    })

    function userlist() {
        var id=$("#enterprise").val();
        $("#student").val("");
        $("#time-expire").val("");
        $.ajax({
            url: '{:url("")}',
            type: 'get',
            dataType: 'json',
            data: {id:id,type:1},
            success: function(data){
                data=data.data;

                $("#student").val(data.student);
                $("#time-expire").val(data.expire);

            },
            error: function(){

            }
        })
    }
    /**
     * [ajax_post 异步POST请求]
     */
    function ajax_post(url, data, fn){
        layer.confirm('确定充值吗？', {
            btn: ['充值', '取消']
        }, function(){
            loding = layer.load(2, {
                shade: [0.1,'#fff']
            });
            // var price=$("input[name='price']").val();
            // var enterprise=$("input[name='enterprise']:checked").val();
            var enterprise=$("#enterprise").val();
            var student=$("#student").val();
            var expire=$("#time-expire").val();
            // if(type==1){
            //     location.href=url+"?price="+price+"&type="+type;
            //     return true;
            // }
            $.ajax({
                url : url,
                type: 'post',
                dataType: 'json',
                data: {student:student,enterprise:enterprise,expire:expire},
                success:function(ret){
                    layer.close(loding);
                    // 是否自定义了回调函数
                    if (is_function(fn)) {
                        fn(ret);
                        return;
                    }
                    layer.msg(ret.msg,{'time':1000});
                    if (ret.status == 1) {
                        setTimeout(function(){
                            location.reload();
                        }, 500);
                    }

                    // if (ret.status == 1 && type==2) {
                    //     // open_frame('班级成员', 100, 100, true);
                    //     var url ="{:url('recharge')}?img="+ret.data;
                    //     var _img = '<img src="'+url+'" style="position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;min-width:50%; min-height:50%; max-width:100%; max-height:100%;">';
                    //
                    //     layer.open({
                    //         type: 1,
                    //         title: false,
                    //         closeBtn: 0,
                    //         area: ['80%', '90%'],
                    //         shade: 0.1,
                    //         skin: 'layui-layer-nobg', //没有背景色
                    //         shadeClose: true,
                    //         content: _img
                    //     });
                    //
                    // }else{
                    //     layer.msg(ret.msg,{'time':1000});
                    // }
                }
            })
        }, function(){

        });
    }
</script>
{include file="admin/root/common/footer"}