{include file="admin/root/common/header"}
<div id="right_content">
    <form action="" class="verify-form rform">
        <table class="table">
            <tr>
                <td width="150"></td>
                <td></td>
            </tr>
            <tr>
                <th class="msg">类型</th>
                <td>
                    {foreach $checkVal['typeVal'] as $v=>$k}
                    <label class="checkbox-inline">
                        <input type="radio" name="type"  value="{$v}" >
                        &nbsp;&nbsp;{$k}
                    </label>
                    {/foreach}
                </td>
            </tr>
            <tr>
                <th class="msg">班级</th>
                <td>
                    <select name="class_id" class="form-control w426 class_id" datatype="*">
                        
                    </select>
                </td>
            </tr>
            <tr>
                <th width="150" class="msg">标题</th>
                <td><input name="title" type="text" class="form-control w400" datatype="*"></td>
            </tr>
            <tr>
                <th class='msg'>图片</th>
                <td>
                    <div id="photo-picker">上传图片</div>
                    <div id="photo-list" class="uploader-list">
                        <div class="upload-ts">
                            <input type="hidden" name="photo" value="" datatype="*" nullmsg="请上传图片">
                            <span class="Validform_checktip"></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="150" class="msg">题的数量</th>
                <td><input name="number" type="text" class="form-control w400" datatype="n"></td>
            </tr>
            <tr>
                <th width="150" class="msg">考试时间（分钟</th>
                <td><input name="time" type="text" class="form-control w400" datatype="n"></td>
            </tr>
            <tr>
                <th width="150" class="msg">满分</th>
                <td><input name="full" type="text" class="form-control w400" datatype="n"></td>
            </tr>
            <tr>
                <th width="150" class="msg">及格</th>
                <td><input name="pass" type="text" class="form-control w400" datatype="n"></td>
            </tr>

            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">保存</button></td>
            </tr>
        </table>
    </form>
</div>
{include file="admin/root/common/webuploader"}

<script>
$(function(){
    file_upload({
    pick        : '#photo-picker',
    container   : '#photo-list',
    server      : '{:url("admin/root/upload/AliyunOss")}',
    mulit       : false,
    inputname   : 'photo'
});
    $("input[name='type']").click(function(){
        $('.class_id').html('');
        $.ajax({
            url: '{:url("admin/course/paper/classlist")}',
            type: 'get',
            dataType: 'json',
            data: {type:this.value},
            success: function(data){
                let html="";
                if(data.data.length>0){
                    data=data.data;
                    for(var i=0;i<data.length;i++){
                        html +="<option value="+data[i]['id']+">"+data[i]['title']+"</option>";
                    }
                }
                $('.class_id').html(html);

            },
            error: function(){

            }
        })
    });


})
</script>
{include file="admin/root/common/footer"}